section.cont-cursos
	background-color: #fff
	position: relative
	padding-bottom: 3em
	article.curso-panaderia
		@include display(flex)
		.panadria-txt
			padding: 3em 1em 0 4em
			width: 41%
			box-sizing: border-box
			h2
				font-size: 2em
				margin-bottom: 0
			strong
				color: $primary-color
				font-weight: 400
				margin-bottom: 4em
				display: block
				font-style: italic
			h4
				color: $text-color
				margin-bottom: 0
				font-size: 1em
			p 
				margin: 0
				line-height: 1.3em
		section.cursos-galeria
			width: 59%
			margin: 1.2em 0 0
			display: block
			margin: 0
			padding: 0
			position: relative
			ul 
				width: 100%
				margin: 0
				padding: 0
				list-style: none
			.imagenesGrandes
				li
					width: 100%
					img
						width: 100%
			.imagenesPeques
				@include display(flex)
				margin-top: 0.3em
				@include justify-content(space-between)
				li
					margin: 0.3em
					a 
						display: block
						width: 100%
						height: 100%
					img 
						width: 100%


		.action
			display: block
			margin-top: 2em
			strong
				font-weight: 400
				color: $primary-color
				display: block
				font-style: italic
			a.boton
				padding: 0.5em 3em
				border-radius: 0.3em
				@include background(linear-gradient(rgb(255,28,36), rgb(170,0,0)) bottom no-repeat)
				color: #fff
				margin: 1em 0
				font-size: 0.9em
				display: inline-block

				&:hover
					@include background(linear-gradient( darken(rgb(255,28,36), 10), darken(rgb(170,0,0), 10)) bottom no-repeat)


	
