extends _layout/default

block title
	title Inforcap

block body
	.wrapper
		include _includes/header
		
		include _includes/cursos-panaderia
		include _includes/anuncio
		
		include _includes/footer 