section.anuncio
	.anuncio-bg
	.cont-anuncio
		.anucnio-logo
			img(src="assets/img/logo-infocap.jpg", alt="")
		p.anuncio-txt ¿Está interesado en uno de nuestros cursos?
		a.anuncio-btn Inscríbase aquí