
<section class="cont-cursos">
  <article class="curso-panaderia">
    <div class="panadria-txt">
      <h2>Panadería</h2><strong>Elaboración casera o industrial de panificados</strong>
      <p>Aprenderá a elaborar distintos tipos y variedades de panes y sus derivados. Ser panadero, es ser artesano, humanista, artista, pues produce con su imaginación y sus manos, formas y nombres bellos que son alimento diario de los hombre.</p>
      <h4>Técnico en Panadería</h4>
      <p>Inicia en marzo y se extiende hasta noviembre</p>
      <p>Duración: 2 años.</p>
      <h4>Días de Clase</h4>
      <p>1er año, todos los lunes.</p>
      <p>2do año todos los martes.</p>
      <h4>Requisitos</h4>
      <p>15 años cumplidos.</p>
      <p>Certificado de estudios visado por el M.E.C.</p>
      <p>Certificado de nacimiento.</p>
      <p>Dos fotocopias de cédula de identidad.</p>
      <p>Una foto tipo carnet.</p>
      <p>Llenar la solicitud correspondiente.</p>
      <p>Firmar el reglamento administrativo y académico.</p>
    </div>
    <figure class="panadria-galeria"><img src="http://lorempixel.com/600/200/" alt=""/></figure>
  </article>
</section>