section.cont-cursos
	article.curso-panaderia
		.panadria-txt
			h2 Panadería
			strong Elaboración casera o industrial de panificados
			p Aprenderá a elaborar distintos tipos y variedades de panes y sus derivados. Ser panadero, es ser artesano, humanista, artista, pues produce con su imaginación y sus manos, formas y nombres bellos que son alimento diario de los hombre.

			h4 Técnico en Panadería
			p Inicia en marzo y se extiende hasta noviembre
			p Duración: 2 años.

			h4 Días de Clase
			p 1er año, todos los lunes.
			p 2do año todos los martes.

			h4 Requisitos
			p 15 años cumplidos.
			p Certificado de estudios visado por el M.E.C.
			p Certificado de nacimiento.
			p Dos fotocopias de cédula de identidad.
			p Una foto tipo carnet.
			p Llenar la solicitud correspondiente.
			p Firmar el reglamento administrativo y académico.

		section.cursos-galeria
			ul.rslides.imagenesGrandes(id='galeriaCursos')
				li: img(src='http://loremflickr.com/500/300/bakery?random=1', alt='')
				li: img(src='http://loremflickr.com/500/300/bakery?random=2', alt='')
				li: img(src='http://loremflickr.com/500/300/bakery?random=3', alt='')
				li: img(src='http://loremflickr.com/500/300/bakery?random=4', alt='')
			ul.imagenesPeques(id='galeriaCursos-pager')
				li
					a(href='#'): img(src='http://loremflickr.com/500/300/bakery?random=1', alt='')
				li
					a(href='#'): img(src='http://loremflickr.com/500/300/bakery?random=2', alt='')
				li
					a(href='#'): img(src='http://loremflickr.com/500/300/bakery?random=3', alt='')
				li
					a(href='#'): img(src='http://loremflickr.com/500/300/bakery?random=4', alt='')

			article.action
				strong Elige tu carrera, elige tu mejor futuro
				a.boton(href="#") Inscríbete ahora
	