footer.footer
	.footer-txt
		p Avda. Eusebio Ayala 3909 esq. Alas Paraguayas Km 4,5. Asunción
		p Telefax: 595 21 613 135. Cel: 0981 807 101 y 0983 350 062
	aside.social
		a(href="#"): i.fa.icon-facebook 
		a(href="#"): i.fa.icon-mail 