mixin menu-boton(enlace, txt)
	li.header-navLink
		a(href='#{enlace}.html') #{txt}

header.header
	nav(role='navigation')
		ul.header-nav
			
			+menu-boton(
			'index',
			'Inforcap')

			li.header-navLink
				a(href='#') Formación
				ul.header-sub-nav
					li: a(href='#') Cursos
					li: a(href='#') Especializaciones
					li: a(href='#') Inscripciones
					li: a(href='#') Calendario

			+menu-boton(
			'javascript:void(0)',
			'Eventos')

			li.header-navLink.logo
				a.logo(href='javascript:void(0)')
					img(src='assets/img/logo-infocap.jpg')

			+menu-boton(
			'javascript:void(0)',
			'Testimonios')

			+menu-boton(
			'javascript:void(0)',
			'RSE')

			+menu-boton(
			'javascript:void(0)',
			'Contactos')					