section.slider#slider
	ul.pictures
		li.picture
			img(src="assets/img/slide/1.jpg", alt="")
			.picture-txt
				p Con las manos en la masa formando profesionales El aprendizaje nunca termina...
		li.picture
			img(src="assets/img/slide/2.jpg", alt="")
			.picture-txt
				p Elige tu carrera, elige un futuro mejor
		li.picture
			img(src="assets/img/slide/3.jpg", alt="")
			.picture-txt
				p Cursos de Pastelería ¡ya habilitados!