doctype html
html(lang='Es-Py')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title
      title Inforcap

    meta(name='description', content='Club de Beneficios')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Open+Sans|Merriweather:300,900,700' rel='stylesheet' type='text/css')
    link(rel='stylesheet', href='assets/css/main.css')

  body
    <!--[if lt IE 8]>
    p.browserupgrade.
      Estas usando un nevegador <strong>viejo</strong>.
      Por favor <a href="http://browsehappy.com/">actualiza tu navegador</a> para mejorar tu experiencia.
    <![endif]-->

    block body

    script(type='text/javascript',src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(type='text/javascript',src='assets/js/functions.min.js')
    script(type='text/javascript',src='assets/js/owl.carousel.min.js')
    script(type='text/javascript',src='assets/js/responsiveslides.min.js')